.bn {
    background-color: #f5ad31;
    text-decoration: none;
    border: 2px #f5ad31 solid;
    border-radius: 5px;
    font-size: 2rem;
    padding: 8px;
    margin: 5px;
    color: black;
    transition: all 0.2s ease;
}

.bn:hover {
    background-color: #e09a20;
}

.bn:active {
    background-color: rgb(28, 12, 246);
    border-color: rgb(28, 12, 246);
    color: white;
}

.bn.active {
    background-color: rgb(28, 12, 246);
    border-color: rgb(28, 12, 246);
    color: white;
}